<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="chat-window">
          <div class="chat-cont-left">
            <app-chat-lef-side-bar [chats]="chat$ | async" (showChatRight)="showChat($event)"></app-chat-lef-side-bar>
          </div>
          <div #chat_list class="chat-cont-right" [ngClass]="{'current' : showChatRight}">
            <app-chat-message *ngIf="user && currentChat" [show]="showChatRight" [chatId]="currentChat.id"
              [chat]="currentChat" [user]="user" [role]="role"></app-chat-message>
          </div>
        </div>
      </div>
    </div>
    <!-- /Row -->
  </div>
</div>
<!-- /Page Content -->