<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="chat-window">
          <div class="chat-cont-left">
            <app-chat-lef-side-bar (showChatRight)="showChat()"></app-chat-lef-side-bar>
          </div>
          <div #chat_list class="chat-cont-right">
            <app-chat-message [show]="showChatRight"></app-chat-message>
          </div>
        </div>
      </div>
    </div>
    <!-- /Row -->
  </div>
</div>		
<!-- /Page Content -->