<!-- Write Review Form -->
<form #reviewForm="ngForm" (ngSubmit)="submit($event, id)" autocomplete="off">
  <ng-container *ngIf="isDoctorProfile">
    <div class="form-group">
      <label>Review</label>
      <div class="star-rating">
        <input id="star-5" type="radio" name="rating" value="star-5">
        <label for="star-5" title="5 stars">
          <i class="active fa fa-star"></i>
        </label>
        <input id="star-4" type="radio" name="rating" value="star-4">
        <label for="star-4" title="4 stars">
          <i class="active fa fa-star"></i>
        </label>
        <input id="star-3" type="radio" name="rating" value="star-3">
        <label for="star-3" title="3 stars">
          <i class="active fa fa-star"></i>
        </label>
        <input id="star-2" type="radio" name="rating" value="star-2">
        <label for="star-2" title="2 stars">
          <i class="active fa fa-star"></i>
        </label>
        <input id="star-1" type="radio" name="rating" value="star-1">
        <label for="star-1" title="1 star">
          <i class="active fa fa-star"></i>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>Title of your review</label>
      <input class="form-control" type="text" placeholder="If you could say it in one sentence, what would you say?">
    </div>
  </ng-container>
  <div class="form-group">
    <label>Your review</label>
    <textarea (keyup)="onKeyUp($event)" [(ngModel)]="textContent" name="textContent" maxlength="100"
      class="form-control" required></textarea>

    <div class="d-flex justify-content-between mt-3"><small class="text-muted"><span id="chars">{{textLength}}</span>
        characters
        remaining</small></div>
  </div>
  <div class="submit-section">
    <button type="submit" [disabled]="!reviewForm.valid" class="btn btn-primary submit-btn">Add
      Review</button>
  </div>
</form>
<!-- /Write Review Form -->