<!-- Clinic and Specialities -->
<section class="section section-specialities">
  <div class="container-fluid">

    <div class="section-header text-center">
      <h2>Clinic and Specialities</h2>
      <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-9">
        
        <!-- Slider -->
        <div class="specialities-slider slider">

          <!-- Slider Item -->
          <owl-carousel-o [options]="specialityOptions" class="speicality-item text-center">
            <ng-template carouselSlide *ngFor="let item of specialities">
              <div class="speicality-img">
                <img src={{item.image}} class="img-fluid" alt={{item.name}}>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
              </div>
              <p>{{item.name}}</p>
            </ng-template>
          </owl-carousel-o>
          <!-- /Slider Item -->

        </div>
        <!-- /Slider -->

      </div>
    </div>
  </div>
</section>
<!-- Clinic and Specialities -->