<!-- Clinic and Specialities -->
<section class="section section-specialities">
  <div class="container-fluid">
    <div #clinic class="section-header text-center"></div>
    <div class="row justify-content-center">
      <div class="col-md-9">
        <!-- Slider -->
        <div class="specialities-slider slider">
          <!-- Slider Item -->
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let item of specialities" class="slide">
              <div class="speicality-item text-center">
                <div class="speicality-img">
                  <img
                    src="{{ item.photo }}"
                    class="img-fluid"
                    alt="{{ item.name }}"
                  />
                  <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                </div>
                <p>{{ item.name }}</p>
              </div>
            </div>
          </ngx-slick-carousel>
          <!-- /Slider Item -->
        </div>
        <!-- /Slider -->
      </div>
    </div>
  </div>
</section>
<!-- Clinic and Specialities -->
