<h1>Reset Password</h1>
<p class="account-subtitle">Access to our dashboard</p>

<!-- Form -->
<form [formGroup]="fg" (ngSubmit)="fg.valid && resetPasswordSubmit()" autocomplete="off">
  <app-input-text [type]="'password'" [label]="'Password'" [formControlName]="'password'"></app-input-text>

  <app-input-text [type]="'password'" [label]="'Confirm Password'" [formControlName]="'confirmPassword'">
  </app-input-text>

  <div class="form-group">
    <button [disabled]="!fg.valid" class="btn btn-primary btn-block" type="submit">
      Reset Password
    </button>
  </div>
</form>
<!-- /Form -->