<app-main-breadcrumb [title]="'Privacy Policy'"></app-main-breadcrumb>
  
  <!-- Page Content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="terms-content">
            <div class="terms-text" [innerHTML]='privacy?.heading'></div>	
            <div class="terms-text" [innerHTML]='privacy?.subHeading'></div>	
            <div class="terms-text" [innerHTML]='privacy?.body'></div>	
            <div class="terms-text" [innerHTML]='privacy?.bodySubHeading'></div>	
            <div class="terms-text" [innerHTML]='privacy?.footer'></div>	
          </div>
        </div>
      </div>
    </div>

  </div>		
  <!-- /Page Content -->