<!-- Header -->
<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a [routerLink]="['/']" class="navbar-brand logo">
        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a [routerLink]="['/']" class="menu-logo">
          <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/main/homepage']">Home</a>
        </li>
        <li [routerLinkActive]="['active']" class="has-submenu">
          <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/dashboard']">Doctor Dashboard</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/appointments']">Appointments</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/schedule-timings']">Schedule Timing</a>
            </li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/my-patients']">Patients List</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/message']">Chat</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/invoices']">Invoices</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/profile-settings']">Profile Settings</a>
            </li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/reviews']">Reviews</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/doctor/doctor-blog']">Blog</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Doctors</a>
              <ul class="submenu">
                <li><a [routerLink]="['/']">Map Grid</a></li>
                <li><a [routerLink]="['/']">Map List</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['/']">Search Doctor</a></li>
            <li><a [routerLink]="['/']">Doctor Profile</a></li>
            <li><a [routerLink]="['/']">Booking</a></li>
            <li><a [routerLink]="['/']">Checkout</a></li>
            <li><a [routerLink]="['/']">Booking Success</a></li>
            <li><a [routerLink]="['/']">Patient Dashboard</a></li>
            <li><a [routerLink]="['/']">Favourites</a></li>
            <li><a [routerLink]="['/']">Chat</a></li>
            <li><a [routerLink]="['/']">Profile Settings</a></li>
            <li><a [routerLink]="['/']">Change Password</a></li>
          </ul>
        </li>
        <li [routerLinkActive]="['active']" class="has-submenu">
          <a href="#">Blog <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/main/blog/list']">Blog List</a></li>
          </ul>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/main/search-doctors']">Search Doctors</a>
        </li>
        <li>
          <a [routerLink]="['/']" target="_blank">Admin</a>
        </li>
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li class="nav-item contact-item">
        <div class="header-contact-img">
          <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
          <p class="contact-header">Contact</p>
          <p class="contact-info-header"> +1 315 369 5943</p>
        </div>
      </li>

      <li class="nav-item" *ngIf="user===null">
        <a class="nav-link header-login" [routerLink]="['/auth/login']">Login / Signup </a>
      </li>

      <!-- User Menu -->
      <li class="nav-item dropdown has-arrow logged-item show" *ngIf="user!==null">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" *ngIf="user!==null">
          <span *ngIf="user!==null" class="user-img">
            <img class="rounded-circle" [src]="user.photo ? user.photo : 'assets/img/user.png'" width="31"
              alt={{user.fullname}}>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right show" *ngIf="user!==null">
          <div class="user-header"  *ngIf="user!==null">
            <div class="avatar avatar-sm">
              <img [src]="user.photo ? user.photo : 'assets/img/user.png'" alt={{user.fullname}}
                class="avatar-img rounded-circle">
            </div>
            <div class="user-text" *ngIf="user!==null">
              <h6>{{user.fullname}}</h6>
              <p class="text-muted mb-0">{{user.role}}</p>
            </div>
          </div>
          <a *ngIf="user!==null" class="dropdown-item" [routerLink]="['/main/doctor/dashboard']">Dashboard</a>
          <a *ngIf="user!==null" class="dropdown-item" [routerLink]="['/main/doctor/profile-settings']">Profile Settings</a>
          <a *ngIf="user!==null" href="javascript:void(0);" class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
      <!-- /User Menu -->
    </ul>
  </nav>
</header>
<!-- /Header -->