<app-main-breadcrumb [title]='"Dashboard"'></app-main-breadcrumb>
		<!-- Page Content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- Profile Sidebar -->
          <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            <app-patient-dashboard></app-patient-dashboard>
          </div>
          <!-- / Profile Sidebar -->
          <div class="col-md-7 col-lg-8 col-xl-9">
            <app-patient-user-tabs></app-patient-user-tabs>
          </div>
        </div>
      </div>
    </div>		
    <!-- /Page Content -->