	<!-- Page Content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="chat-window">
            <!-- Chat Left -->
            <div class="chat-cont-left">
              <div class="chat-header">
                <span>Chats</span>
                <a href="javascript:void(0)" class="chat-compose">
                  <i class="material-icons">control_point</i>
                </a>
              </div>
              <form class="chat-search">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <i class="fas fa-search"></i>
                  </div>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <div class="chat-users-list">
                <div class="chat-scroll">
                  <a href="javascript:void(0);" class="media read-chat active">
                    <div class="media-img-wrap">
                      <div class="avatar avatar-online">
                        <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
                      </div>
                    </div>
                    <div class="media-body">
                      <div>
                        <div class="user-name">Dr. Darren Elder</div>
                        <div class="user-last-chat">I'll call you later </div>
                      </div>
                      <div>
                        <div class="last-chat-time block">8:01 PM</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- /Chat Left -->
            <!-- Chat Right -->
            <div class="chat-cont-right">
              <div class="chat-header">
                <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                  <i class="material-icons">chevron_left</i>
                </a>
                <div class="media">
                  <div class="media-img-wrap">
                    <div class="avatar avatar-online">
                      <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="user-name">Dr. Darren Elder</div>
                    <div class="user-status">online</div>
                  </div>
                </div>
                <div class="chat-options">
                  <a href="javascript:void(0)">
                    <i class="material-icons">more_vert</i>
                  </a>
                </div>
              </div>
              <div class="chat-body">
                <div class="chat-scroll">
                  <ul class="list-unstyled"></ul>
                </div>
              </div>
              <div class="chat-footer">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="btn-file btn">
                      <i class="fa fa-paperclip"></i>
                      <input type="file">
                    </div>
                  </div>
                  <input type="text" class="input-msg-send form-control" placeholder="Type something">
                  <div class="input-group-append">
                    <button type="button" class="btn msg-send-btn"><i class="fab fa-telegram-plane"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Chat Right -->
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>
  </div>		
  <!-- /Page Content -->