<!-- Availabe Features -->
<section class="section section-features">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 features-img">
        <img src="assets/img/features/feature.png" class="img-fluid" alt="Feature">
      </div>
      <div class="col-md-7">
        <div class="section-header">
          <h2 class="mt-2">Availabe Features in Our Clinic</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. </p>
        </div>
        <div class="features-slider slider">

          <!-- Slider Item -->
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let item of features" class="slide">
              <div class="feature-item text-center">
                <img src={{item.image}} class="img-fluid" alt={{item.name}}>
                <p>{{item.name}}</p>
              </div>
            </div>
          </ngx-slick-carousel>
          <!-- /Slider Item -->

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Availabe Features -->