<app-main-breadcrumb [title]="'Blog List'"></app-main-breadcrumb>
<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row" *ngIf="blogs.length !== 0">
      <div class="col-lg-8 col-md-12">
        <!-- Blog Post -->
        <div class="blog" *ngFor="let item of blogs">
          <div class="blog-image">
            <div class="video">
              <iframe
                [src]="item.video | urlSanitizer"
                width="940"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <h3 class="blog-title">
            <a [routerLink]="['/main/blog/details', item.slug]">{{
              item.title
            }}</a>
          </h3>
          <div class="blog-info clearfix">
            <div class="post-left">
              <ul>
                <li>
                  <div class="post-author">
                    <a
                      [routerLink]="[
                        '/main/patient/doctor-profile',
                        item.doctor?.slug
                      ]"
                      ><img
                        src="{{ item.doctor?.photo }}"
                        alt="{{ item.doctor?.fullname }}"
                      />
                      <span>Dr. {{ item.doctor?.fullname }}</span></a
                    >
                  </div>
                </li>
                <li><i class="far fa-clock"></i>3 Dec 2019</li>
                <li><i class="far fa-comments"></i>2 Comments</li>
                <li><i class="fa fa-tags"></i>Health Care</li>
              </ul>
            </div>
          </div>
          <div #blog_description class="blog-content" id={{item.slug}}>
            <a
              [routerLink]="['/main/blog/details', item.slug]"
              class="read-more"
              >Read More</a
            >
          </div>
        </div>
        <!-- /Blog Post -->

        <!-- Blog Pagination -->
        <div class="row" *ngIf="pagination != null || pagination !== undefined">
          <div class="col-md-12">
            <div class="blog-pagination">
              <nav>
                <pagination
                  [boundaryLinks]="true"
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                >
                </pagination>
              </nav>
            </div>
          </div>
        </div>
        <!-- /Blog Pagination -->
      </div>
      <!-- Blog Sidebar -->
      <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
        <app-blog-sidebar [blogs]="blogs"></app-blog-sidebar>
      </div>
      <!-- /Blog Sidebar -->
    </div>
  </div>
</div>
<!-- /Page Content -->
