<app-main-breadcrumb [title]="'Blog List'"></app-main-breadcrumb>
<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <!-- Blog Post -->
        <div class="blog" *ngFor="let item of blogs">
          <div class="blog-image">
            <div class="video">
              <iframe
                [src]="item.video | urlSanitizer"
                width="940"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <h3 class="blog-title">
            <a [routerLink]="['/main/blog/details', item.slug]">{{
              item.title
            }}</a>
          </h3>
          <div class="blog-info clearfix">
            <div class="post-left">
              <ul>
                <li>
                  <div class="post-author">
                    <a [routerLink]="['/']"
                      ><img
                        src="assets/img/user.png"
                        alt="yavar-guliyev"
                      />
                      <span>Dr. Yavar Guliyev</span></a
                    >
                  </div>
                </li>
                <li><i class="far fa-clock"></i>3 Dec 2019</li>
                <li><i class="far fa-comments"></i>2 Comments</li>
                <li><i class="fa fa-tags"></i>Health Care</li>
              </ul>
            </div>
          </div>
          <div class="blog-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco sit
              laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
            <a
              [routerLink]="['/main/blog/details', item.slug]"
              class="read-more"
              >Read More</a
            >
          </div>
        </div>
        <!-- /Blog Post -->

        <!-- Blog Pagination -->
        <div class="row">
          <div class="col-md-12">
            <div class="blog-pagination">
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"
                      ><i class="fas fa-angle-double-left"></i
                    ></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#"
                      >2 <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#"
                      ><i class="fas fa-angle-double-right"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- /Blog Pagination -->
      </div>

      <!-- Blog Sidebar -->
      <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
        <app-blog-sidebar *ngIf="blogs.length !== 0" [blogs]="blogs"></app-blog-sidebar>
      </div>
      <!-- /Blog Sidebar -->
    </div>
  </div>
</div>
<!-- /Page Content -->
