<!-- Chat Right -->
<ng-container *ngIf="user && show">
  <div class="chat-header">
    <a id="back_user_list" (click)="chatGoBack()" href="javascript:void(0)" class="back-user-list">
      <i class="material-icons">chevron_left</i>
    </a>
    <div class="media">
      <div class="media-img-wrap">
        <div class="avatar"
          [ngClass]="{'avatar-online' : user.connectionId !== null, 'avatar-offline' : user.connectionId === null}">
          <img src={{user.photo}} alt={{user.fullname}} class="avatar-img rounded-circle">
        </div>
      </div>
      <div class="media-body">
        <div class="user-name">{{user.fullname}}</div>
        <div class="user-status">{{user.connectionId ? 'online' : 'offline'}}</div>
      </div>
    </div>
    <div class="chat-options mr-3">
      <div class="btn-group" dropdown>
        <button id="button-disabled-menu" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-disabled-menu">
          Select Options <span class="caret"></span>
        </button>
        <ul id="dropdown-disabled-menu" *dropdownMenu class="dropdown-menu" role="menu"
          aria-labelledby="button-disabled-menu">
          <li role="menuitem">
            <a (click)="removeChat(chat.id)" href="javascript:void(0)" class="dropdown-item">Remove Group<i
                class="fas fa-trash text-danger ml-2"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="chat-body">
    <div class="chat-scroll">
      <ul app_element_loader [show]="show" (ngInit)="scrollDown()" #chat_list class="list-unstyled">
        <li class="chat-date">Today</li>
        <ng-container *ngIf="user.role === 'Doctor'">
          <li class="media" *ngFor="let message of chat.chatMessageDTOs"
            [ngClass]="{'sent': message.patientContent, 'received': message.doctorContent}">
            <div class="avatar" *ngIf="message.patientContent">
              <img src={{chat.doctor.photo}} alt={{chat.doctor.fullname}} class="avatar-img rounded-circle">
            </div>
            <div class="media-body">
              <div class="msg-box">
                <div>
                  <p>{{message.patientContent ? message.patientContent : message.doctorContent}}</p>
                  <ul class="chat-msg-info">
                    <li *ngIf="message.patientContent"><a (click)="removeMessage(message.id)" href="javascript:void(0)"
                        class="remove-message"><i class="fas fa-trash"></i></a></li>
                    <li>
                      <div class="chat-time">
                        <span>{{message.addedDate | timeago}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="msg-box" *ngIf="message.photo">
                <div>
                  <div class="chat-msg-attachments">
                    <div class="chat-attachment">
                      <img src="{{message.photo}}" alt="Attachment">
                      <div class="chat-attach-caption">Attachment</div>
                      <a href="#" class="chat-attach-download">
                        <i class="fas fa-download"></i>
                      </a>
                    </div>
                  </div>
                  <ul class="chat-msg-info">
                    <li>
                      <div class="chat-time">
                        <span>{{message.addedDate | timeago}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="user.role === 'Patient'">
          <li class="media" *ngFor="let message of chat.chatMessageDTOs"
            [ngClass]="{'sent': message.doctorContent, 'received': message.patientContent}">
            <div class="avatar" *ngIf="message.patientContent">
              <img src={{chat.patient.photo}} alt={{chat.patient.fullname}} class="avatar-img rounded-circle">
            </div>
            <div class="media-body">
              <div class="msg-box">
                <div>
                  <p>{{message.doctorContent ? message.doctorContent : message.patientContent}}</p>
                  <ul class="chat-msg-info">
                    <li *ngIf="message.doctorContent"><a (click)="removeMessage(message.id)" href="javascript:void(0)"
                        class="remove-message"><i class="fas fa-trash"></i></a></li>
                    <li>
                      <div class="chat-time">
                        <span>{{message.addedDate | timeago}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="msg-box" *ngIf="message.photo">
                <div>
                  <div class="chat-msg-attachments">
                    <div class="chat-attachment">
                      <img src="{{message.photo}}" alt="Attachment">
                      <div class="chat-attach-caption">Attachment</div>
                      <a href="#" class="chat-attach-download">
                        <i class="fas fa-download"></i>
                      </a>
                    </div>
                  </div>
                  <ul class="chat-msg-info">
                    <li>
                      <div class="chat-time">
                        <span>{{message.addedDate | timeago}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
        <li class="media received">
          <div class="avatar">
            <img src="assets/img/patients/patient.jpg" alt="User Image" class="avatar-img rounded-circle">
          </div>
          <div class="media-body">
            <div class="msg-box">
              <div>
                <div class="msg-typing">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="chat-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="btn-file btn">
            <i class="fa fa-paperclip"></i>
            <input type="file" ng2FileDrop ng2FileSelect [uploader]="uploader" multiple />
          </div>
        </div>
        <input type="text" class="input-msg-send form-control" name="messageContent" required
          [(ngModel)]="messageContent" placeholder="Type something">
        <div class="input-group-append">
          <button type="submit" [disabled]="!messageForm.valid || loading" class="btn msg-send-btn">
            <i *ngIf="!loading" class="fab fa-telegram-plane"></i>
            <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<!-- /Chat Right -->