<!-- Main Wrapper -->
<div class="main-wrapper">
  <app-header *ngIf="setting" [header]="setting"></app-header>
  <router-outlet
    *ngIf="setting"
    (activate)="onHomePageLoaded($event)"
  ></router-outlet>
  <app-footer *ngIf="setting" [footer]="setting"></app-footer>

  <!-- Appointment Details Modal -->
  <div class="modal fade custom-modal" id="appt_details">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Appointment Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="info-details">
            <li>
              <div class="details-header">
                <div class="row">
                  <div class="col-md-6">
                    <span class="title">#APT0001</span>
                    <span class="text">21 Oct 2019 10:00 AM</span>
                  </div>
                  <div class="col-md-6">
                    <div class="text-right">
                      <button
                        type="button"
                        class="btn bg-success-light btn-sm"
                        id="topup_status"
                      >
                        Completed
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <span class="title">Status:</span>
              <span class="text">Completed</span>
            </li>
            <li>
              <span class="title">Confirm Date:</span>
              <span class="text">29 Jun 2019</span>
            </li>
            <li>
              <span class="title">Paid Amount</span>
              <span class="text">$450</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Appointment Details Modal -->

  <!-- Add Medical Records Modal -->
  <div class="modal fade custom-modal" id="add_medical_records">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Medical Records</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label>Date</label>
              <input
                type="text"
                class="form-control datetimepicker"
                value="31-10-2019"
              />
            </div>
            <div class="form-group">
              <label>Description ( Optional )</label>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label>Upload File</label>
              <input type="file" class="form-control" />
            </div>
            <div class="submit-section text-center">
              <button type="submit" class="btn btn-primary submit-btn">
                Submit
              </button>
              <button
                type="button"
                class="btn btn-secondary submit-btn"
                data-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /Add Medical Records Modal -->

  <!-- Add Time Slot Modal -->
  <div class="modal fade custom-modal" id="add_time_slot">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Time Slots</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="hours-info">
              <div class="row form-row hours-cont">
                <div class="col-12 col-md-10">
                  <div class="row form-row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Start Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option>12.00 am</option>
                          <option>12.30 am</option>
                          <option>1.00 am</option>
                          <option>1.30 am</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>End Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option>12.00 am</option>
                          <option>12.30 am</option>
                          <option>1.00 am</option>
                          <option>1.30 am</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="add-more mb-3">
              <a href="javascript:void(0);" class="add-hours"
                ><i class="fa fa-plus-circle"></i> Add More</a
              >
            </div>
            <div class="submit-section text-center">
              <button type="submit" class="btn btn-primary submit-btn">
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Add Time Slot Modal -->

  <!-- Edit Time Slot Modal -->
  <div class="modal fade custom-modal" id="edit_time_slot">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Time Slots</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="hours-info">
              <div class="row form-row hours-cont">
                <div class="col-12 col-md-10">
                  <div class="row form-row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Start Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option selected>12.00 am</option>
                          <option>12.30 am</option>
                          <option>1.00 am</option>
                          <option>1.30 am</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>End Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option>12.00 am</option>
                          <option selected>12.30 am</option>
                          <option>1.00 am</option>
                          <option>1.30 am</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-row hours-cont">
                <div class="col-12 col-md-10">
                  <div class="row form-row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Start Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option>12.00 am</option>
                          <option selected>12.30 am</option>
                          <option>1.00 am</option>
                          <option>1.30 am</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>End Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option>12.00 am</option>
                          <option>12.30 am</option>
                          <option selected>1.00 am</option>
                          <option>1.30 am</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <label class="d-md-block d-sm-none d-none">&nbsp;</label
                  ><a href="#" class="btn btn-danger trash"
                    ><i class="far fa-trash-alt"></i
                  ></a>
                </div>
              </div>

              <div class="row form-row hours-cont">
                <div class="col-12 col-md-10">
                  <div class="row form-row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Start Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option>12.00 am</option>
                          <option>12.30 am</option>
                          <option selected>1.00 am</option>
                          <option>1.30 am</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>End Time</label>
                        <select class="form-control">
                          <option>-</option>
                          <option>12.00 am</option>
                          <option>12.30 am</option>
                          <option>1.00 am</option>
                          <option selected>1.30 am</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <label class="d-md-block d-sm-none d-none">&nbsp;</label
                  ><a href="#" class="btn btn-danger trash"
                    ><i class="far fa-trash-alt"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="add-more mb-3">
              <a href="javascript:void(0);" class="add-hours"
                ><i class="fa fa-plus-circle"></i> Add More</a
              >
            </div>
            <div class="submit-section text-center">
              <button type="submit" class="btn btn-primary submit-btn">
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Edit Time Slot Modal -->

  <!-- Voice Call Modal -->
  <div class="modal fade call-modal" id="voice_call">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Outgoing Call -->
          <div class="call-box incoming-box">
            <div class="call-wrapper">
              <div class="call-inner">
                <div class="call-user">
                  <img
                    alt="User Image"
                    src="assets/img/patients/patient.jpg"
                    class="call-avatar"
                  />
                  <h4>Richard Wilson</h4>
                  <span>Connecting...</span>
                </div>
                <div class="call-items">
                  <a
                    href="javascript:void(0);"
                    class="btn call-item call-end"
                    data-dismiss="modal"
                    aria-label="Close"
                    ><i class="material-icons">call_end</i></a
                  >
                  <a href="voice-call.html" class="btn call-item call-start"
                    ><i class="material-icons">call</i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Outgoing Call -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Voice Call Modal -->

  <!-- Video Call Modal -->
  <div class="modal fade call-modal" id="video_call">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Incoming Call -->
          <div class="call-box incoming-box">
            <div class="call-wrapper">
              <div class="call-inner">
                <div class="call-user">
                  <img
                    class="call-avatar"
                    src="assets/img/patients/patient.jpg"
                    alt="User Image"
                  />
                  <h4>Richard Wilson</h4>
                  <span>Calling ...</span>
                </div>
                <div class="call-items">
                  <a
                    href="javascript:void(0);"
                    class="btn call-item call-end"
                    data-dismiss="modal"
                    aria-label="Close"
                    ><i class="material-icons">call_end</i></a
                  >
                  <a href="video-call.html" class="btn call-item call-start"
                    ><i class="material-icons">videocam</i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- /Incoming Call -->
        </div>
      </div>
    </div>
  </div>
  <!-- Video Call Modal -->

  <!-- Model -->
  <div
    class="modal fade"
    id="deleteConfirmModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="acc_title"></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="acc_msg"></p>
        </div>
        <div class="modal-footer">
          <a href="javascript:;" class="btn btn-success si_accept_confirm"
            >Yes</a
          >
          <button
            type="button"
            class="btn btn-danger si_accept_cancel"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="deleteNotConfirmModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="acc_title">Active Service?</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="acc_msg">Service is Booked and Inprogress..</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger si_accept_cancel"
            data-dismiss="modal"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Model -->
</div>
<!-- /Main Wrapper -->
