	<!-- Home Banner -->
  <section class="section section-search">
    <div class="container-fluid">
      <div class="banner-wrapper">
        <div class="banner-header text-center">
          <h1>Search Doctor, Make an Appointment</h1>
          <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
        </div>
                     
        <!-- Search -->
        <div class="search-box">
          <form action="https://doccure-html.dreamguystech.com/template/search.html">
            <div class="form-group search-location">
              <input type="text" class="form-control" placeholder="Search Location">
              <span class="form-text">Based on your Location</span>
            </div>
            <div class="form-group search-info">
              <input type="text" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
              <span class="form-text">Ex : Dental or Sugar Check up etc</span>
            </div>
            <button type="submit" class="btn btn-primary search-btn mt-0"><i class="fas fa-search"></i> <span>Search</span></button>
          </form>
        </div>
        <!-- /Search -->
        
      </div>
    </div>
  </section>
  <!-- /Home Banner -->

  <section class="section home-tile-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 m-auto">
          <div class="section-header text-center">
            <h2>What are you looking for?</h2>
          </div>
          <div class="row">
            <div class="col-lg-4 mb-3">
              <div class="card text-center doctor-book-card">
                <img src="assets/img/doctors/doctor-07.jpg" alt="" class="img-fluid">
                <div class="doctor-book-card-content tile-card-content-1">
                  <div>
                    <h3 class="card-title mb-0">Visit a Doctor</h3>
                    <a href="search.html" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-3">
              <div class="card text-center doctor-book-card">
                <img src="assets/img/img-pharmacy1.jpg" alt="" class="img-fluid">
                <div class="doctor-book-card-content tile-card-content-1">
                  <div>
                    <h3 class="card-title mb-0">Find a Pharmacy</h3>
                    <a href="pharmacy-search.html" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">Find Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-3">
              <div class="card text-center doctor-book-card">
                <img src="assets/img/lab-image.jpg" alt="" class="img-fluid">
                <div class="doctor-book-card-content tile-card-content-1">
                  <div>
                  <h3 class="card-title mb-0">Find a Lab</h3>
                    <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">Coming Soon</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>