<div class="card card-table mb-0">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-center mb-0">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Appt Date</th>
            <th>Purpose</th>
            <th>Type</th>
            <th class="text-center">Paid Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of patients">
            <td>
              <h2 class="table-avatar">
                <a [routerLink]="['/main/doctor/patient-profile']" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src={{item.photo}} alt={{item.fullname}}></a>
                <a [routerLink]="['/main/doctor/patient-profile', item.slug]">{{item.fullname}} <span>#PT{{item.code}}</span></a>
              </h2>
            </td>
            <td>11 Nov 2019 <span class="d-block text-info">10.00 AM</span></td>
            <td>General</td>
            <td>New Patient</td>
            <td class="text-center">$150</td>
            <td class="text-right">
              <div class="table-action">
                <app-pages-action-for-user-dashboard></app-pages-action-for-user-dashboard>
              </div>
            </td>
          </tr>
        </tbody>
      </table>		
    </div>
  </div>
</div>