<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 col-lg-12 order-md-last order-sm-last order-last map-left">
        <div class="row align-items-center mb-4">
          <div class="col-md-6 col">
            <h4>1 Doctor found</h4>
          </div>
          <div class="col-md-6 col-auto">
            <div class="sort-by d-sm-block d-none">
              <span class="sortby-fliter">
                <select class="select">
                  <option>Sort by</option>
                  <option class="sorting">Rating</option>
                  <option class="sorting">Popular</option>
                  <option class="sorting">Latest</option>
                  <option class="sorting">Free</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <!-- Doctor Widget -->
        <div class="card">
          <div class="card-body">
            <div class="doctor-widget">
              <div class="doc-info-left">
                <div class="doctor-img">
                  <a href="javascript:void(0);">
                    <img src="assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
                  </a>
                </div>
                <div class="doc-info-cont">
                  <h4 class="doc-name"><a href="javascript:void(0);">Dr. Ruby Perrin</a></h4>
                  <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                  <h5 class="doc-department"><img src="assets/img/logo.png" class="img-fluid"
                      alt="Speciality">Dentist</h5>
                  <div class="rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                  </div>
                  <div class="clinic-details">
                    <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
                    <ul class="clinic-gallery">
                      <li>
                        <a href="assets/img/features/feature-01.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-01.jpg" alt="Feature">
                        </a>
                      </li>
                      <li>
                        <a href="assets/img/features/feature-02.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-02.jpg" alt="Feature">
                        </a>
                      </li>
                      <li>
                        <a href="assets/img/features/feature-03.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-03.jpg" alt="Feature">
                        </a>
                      </li>
                      <li>
                        <a href="assets/img/features/feature-04.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-04.jpg" alt="Feature">
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="clinic-services">
                    <span>Dental Fillings</span>
                    <span> Whitneing</span>
                  </div>
                </div>
              </div>
              <div class="doc-info-right">
                <div class="clini-infos">
                  <ul>
                    <li><i class="far fa-thumbs-up"></i> 98%</li>
                    <li><i class="far fa-comment"></i> 17 Feedback</li>
                    <li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
                    <li><i class="far fa-money-bill-alt"></i> $300 - $1000 <i class="fas fa-info-circle"
                        data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
                  </ul>
                </div>
                <div class="clinic-booking">
                  <a class="view-pro-btn" href="javascript:void(0);">View Profile</a>
                  <a class="apt-btn" href="javascript:void(0);">Book Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Doctor Widget -->
        <div class="load-more text-center">
          <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
        </div>
      </div>
      <!-- /content-left-->
      <div class="col-xl-5 col-lg-12 map-right">
        <div id="map" class="map-listing"></div>
        <!-- map-->
      </div>
      <!-- /map-right-->
    </div>
    <!-- /row-->
  </div>
</div>
<!-- /Page Content -->