<h1>{{title!}}</h1>
<p class="account-subtitle">{{subhead!}}</p>

<!-- Form -->
<form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && authSubmit(formGroup)" autocomplete="off">
  <app-input-text *ngIf="isRegister" [type]='"fullname"' [label]='"Fullname"' [formControlName]='"fullname"'></app-input-text>
  <app-input-text *ngIf="isLogin || isRegister || isForgetPassword" [type]='"email"' [label]='"Email"' [formControlName]='"email"'></app-input-text>
  <app-input-text *ngIf="isLogin || isRegister || isResetPassword" [type]='"password"' [label]='"Password"' [formControlName]='"password"'></app-input-text>
  <app-input-text *ngIf="isRegister || isResetPassword" [type]='"password"' [label]='"Confirm Password"' [formControlName]='"confirmPassword"'></app-input-text>
  <div class="form-group">
    <button [disabled]="!formGroup.valid" class="btn btn-primary btn-block" type="submit">
      {{isForgetPassword ? 'Reset Password' : title!}}
    </button>
  </div>
</form>
<!-- /Form -->

<div class="text-center forgotpass" *ngIf="isLogin">
  <a [routerLink]="['/auth/forget-password']">Forgot Password?</a>
</div>

<div class="login-or" *ngIf="isLogin">
  <span class="or-line"></span>
  <span class="span-or">or</span>
</div>

<div class="text-center dont-have" *ngIf="isLogin">
  Don’t have an account? <a [routerLink]="['/auth/register']">Register</a>
</div>

<div class="text-center dont-have" *ngIf="isRegister">
  Already have an account? <a [routerLink]="['/auth/login']">Login</a>
</div>

<div class="text-center dont-have" *ngIf="isForgetPassword">
  Remember your password? <a [routerLink]="['/auth/login']">Login</a>
</div>