<div class="loginbox">
  <div class="login-left">
    <img class="img-fluid" src="assets/img/logo-white.png" alt="Logo">
  </div>
  <div class="login-right">
    <div class="login-right-wrap">
      <h1>{{text!}}</h1>
      <p class="account-subtitle">{{subhead!}}</p>

      <!-- Form -->
      <form>
        <app-input-text *ngIf="fullname" type="text" label="Fullname"></app-input-text>
        <app-input-text *ngIf="email" [label]='"Email"'></app-input-text>
        <app-input-text *ngIf="password" type="password" label="Password"></app-input-text>
        <app-input-text *ngIf="confirmPassword" type="password" label="Confirm Password"></app-input-text>
      </form>
      <!-- /Form -->

      <div class="text-center dont-have" *ngIf="isForgetPassword">Remember your password? <a [routerLink]="['/auth/login']">Login</a></div>

      <div class="text-center forgotpass" *ngIf="isLogin"><a [routerLink]="['/auth/forget-password']">Forgot
          Password?</a></div>

      <div class="login-or" *ngIf="isLogin">
        <span class="or-line"></span>
        <span class="span-or">or</span>
      </div>

      <div class="text-center dont-have" *ngIf="isRegister">Already have an account? <a [routerLink]="['/auth/login']">Login</a></div>

      <div class="text-center dont-have" *ngIf="isLogin">Don’t have an account? <a
          [routerLink]="['/auth/register']">Register</a></div>
    </div>
  </div>
</div>