<app-main-breadcrumb [title]='"Appointments"'></app-main-breadcrumb>
  <!-- Page Content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
          <app-doctor-sidebar></app-doctor-sidebar>
        </div>
        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="appointments">
            <!-- Appointment List -->
            <div class="appointment-list" *ngFor="let item of patients">
              <div class="profile-info-widget">
                <a [routerLink]="['/main/doctor/patient-profile', item.slug]" class="booking-doc-img">
                  <img src={{item.photo}} alt={{item.fullname}}>
                </a>
                <div class="profile-det-info">
                  <h3><a [routerLink]="['/main/doctor/patient-profile', item.slug]">{{item.fullname}}</a></h3>
                  <div class="patient-details">
                    <h5><i class="far fa-clock"></i> 14 Nov 2019, 10.00 AM</h5>
                    <h5><i class="fas fa-map-marker-alt"></i> {{item.fullAddress}}</h5>
                    <h5><i class="fas fa-envelope"></i> {{item.email}}</h5>
                    <h5 class="mb-0"><i class="fas fa-phone"></i> {{item.phone}}</h5>
                  </div>
                </div>
              </div>
              <div class="appointment-action">
                <app-pages-action-for-user-dashboard></app-pages-action-for-user-dashboard>
              </div>
            </div>
            <!-- /Appointment List -->
          </div>
        </div>
      </div>
    </div>
  </div>		
  <!-- /Page Content -->