<div class="text-right">
  <a class="add-new-btn" href="add-billing.html">Add Billing</a>
</div>
<div class="card card-table mb-0">
  <div class="card-body">
    <div class="table-responsive">
    
      <table class="table table-hover table-center mb-0">
        <thead>
          <tr>
            <th>Invoice No</th>
            <th>Doctor</th>
            <th>Amount</th>
            <th>Paid On</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="invoice-view.html">#INV-0010</a>
            </td>
            <td>
              <h2 class="table-avatar">
                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                  <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image">
                </a>
                <a href="doctor-profile.html">Ruby Perrin <span>Dental</span></a>
              </h2>
            </td>
            <td>$450</td>
            <td>14 Nov 2019</td>
            <td class="text-right">
              <div class="table-action">
                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                  <i class="fas fa-print"></i> Print
                </a>
                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                  <i class="far fa-eye"></i> View
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="invoice-view.html">#INV-0009</a>
            </td>
            <td>
              <h2 class="table-avatar">
                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                  <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                </a>
                <a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
              </h2>
            </td>
            <td>$300</td>
            <td>13 Nov 2019</td>
            <td class="text-right">
              <div class="table-action">
                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                  <i class="fas fa-print"></i> Print
                </a>
                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                  <i class="far fa-eye"></i> View
                </a>
                <a href="edit-billing.html" class="btn btn-sm bg-success-light">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                  <i class="far fa-trash-alt"></i> Delete
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>