<!-- Time Slot Modal -->
<div class="modal fade custom-modal show" id="edit_time_slot" aria-modal="true"
  style="padding-right: 17px; display: block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Time Slots</h5>
        <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-time-slot-form></app-time-slot-form>
      </div>
    </div>
  </div>
</div>
<!-- /Time Slot Modal -->