<!-- Chat Left -->
<div class="chat-header">
  <span>Chats</span>
  <a href="javascript:void(0)" class="chat-compose">
    <i class="material-icons">control_point</i>
  </a>
</div>
<form class="chat-search">
  <div class="input-group">
    <div class="input-group-prepend">
      <i class="fas fa-search"></i>
    </div>
    <input type="text" class="form-control" placeholder="Search" />
  </div>
</form>
<div class="chat-users-list">
  <div class="chat-scroll">
    <ng-container *ngIf="chats.length > 0 && currentUser.role === 'Doctor'">
      <a (click)="show(chat.patient.id)" id="{{ chat.patient.id }}" *ngFor="let chat of chats"
        [ngClass]="{ 'read-chat': chatMessage(chat)}" #media_chat href="javascript:void(0);" class="media">
        <div class="media-img-wrap">
          <div class="avatar avatar-online" [ngClass]="{
              'avatar-online': chat.patient.connectionId !== null,
              'avatar-offline': chat.patient.connectionId === null
            }">
            <img src="{{ chat.patient.photo }}" alt="{{ chat.patient.fullname }}" class="avatar-img rounded-circle" />
          </div>
        </div>
        <div class="media-body">
          <div>
            <div class="user-name">{{ chat.patient.fullname }}</div>
            <ng-container *ngIf="chat.chatMessageDTOs.length > 0 && patientText(chat).patientContent">
              <div class="user-last-chat">{{patientText(chat).patientContent}}</div>
            </ng-container>
          </div>
          <div>
            <div class="last-chat-time block" *ngIf="chat.chatMessageDTOs.length > 0 && patientText(chat).addedDate">
              {{patientText(chat).addedDate | timeago}}</div>
          </div>
        </div>
      </a>
    </ng-container>
    <ng-container *ngIf="chats.length > 0 && currentUser.role === 'Patient'">
      <a (click)="show(chat.doctor.id)" id="{{ chat.doctor.id }}" *ngFor="let chat of chats"
        [ngClass]="{ 'read-chat': chatMessage(chat)}" #media_chat href="javascript:void(0);" class="media">
        <div class="media-img-wrap">
          <div class="avatar avatar-online" [ngClass]="{
              'avatar-online': chat.doctor.connectionId !== null,
              'avatar-offline': chat.doctor.connectionId === null
            }">
            <img src="{{ chat.doctor.photo }}" alt="{{ chat.doctor.fullname }}" class="avatar-img rounded-circle" />
          </div>
        </div>
        <div class="media-body">
          <div>
            <div class="user-name">{{ chat.doctor.fullname }}</div>
            <ng-container *ngIf="chat.chatMessageDTOs.length > 0 && doctorText(chat).doctorContent">
              <div class="user-last-chat">{{doctorText(chat).doctorContent}}</div>
            </ng-container>
          </div>
          <div>
            <div class="last-chat-time block" *ngIf="chat.chatMessageDTOs.length > 0 && doctorText(chat).addedDate">
              {{doctorText(chat).addedDate | timeago}}</div>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>
<!-- /Chat Left -->