<!-- Chat Left -->
<div class="chat-header">
  <span>Chats</span>
  <a href="javascript:void(0)" class="chat-compose">
    <i class="material-icons">control_point</i>
  </a>
</div>
<form class="chat-search">
  <div class="input-group">
    <div class="input-group-prepend">
      <i class="fas fa-search"></i>
    </div>
    <input type="text" class="form-control" placeholder="Search" />
  </div>
</form>
<div class="chat-users-list">
  <div class="chat-scroll">
    <ng-container *ngIf="chats.length !== 0">
      <a (click)="show(chat.patient.id)" id="{{ chat.patient.id }}" *ngFor="let chat of chats"
        [ngClass]="{ 'read-chat': chatMessage(chat)}" #media_chat href="javascript:void(0);" class="media read-chat">
        <div class="media-img-wrap">
          <div class="avatar avatar-online" [ngClass]="{
              'avatar-online': chat.patient.connectionId !== null,
              'avatar-offline': chat.patient.connectionId === null
            }">
            <img src="{{ chat.patient.photo }}" alt="{{ chat.patient.fullname }}" class="avatar-img rounded-circle" />
          </div>
        </div>
        <div class="media-body">
          <div>
            <div class="user-name">{{ chat.patient.fullname }}</div>
            <div class="user-last-chat">{{getLastText(chat).patientContent}}</div>
          </div>
          <div>
            <div class="last-chat-time block">{{getLastText(chat).addedDate | timeago}}</div>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>
<!-- /Chat Left -->