<!-- Chat Left -->
<div class="chat-header">
  <span>Chats</span>
  <a href="javascript:void(0)" class="chat-compose">
    <i class="material-icons">control_point</i>
  </a>
</div>
<form class="chat-search">
  <div class="input-group">
    <div class="input-group-prepend">
      <i class="fas fa-search"></i>
    </div>
    <input type="text" class="form-control" placeholder="Search">
  </div>
</form>
<div class="chat-users-list">
  <div class="chat-scroll">
    <a (click)="show(1)" #media_chat id="1" href="javascript:void(0);" class="media read-chat">
      <div class="media-img-wrap">
        <div class="avatar avatar-online">
          <img src="assets/img/patients/patient1.jpg" alt="User Image" class="avatar-img rounded-circle">
        </div>
      </div>
      <div class="media-body">
        <div>
          <div class="user-name">Charlene Reed</div>
          <div class="user-last-chat">I'll call you later </div>
        </div>
        <div>
          <div class="last-chat-time block">8:01 PM</div>
        </div>
      </div>
    </a>
    <a (click)="show(2)" #media_chat id="2" href="javascript:void(0);" class="media">
      <div class="media-img-wrap">
        <div class="avatar avatar-away">
          <img src="assets/img/patients/patient2.jpg" alt="User Image" class="avatar-img rounded-circle">
        </div>
      </div>
      <div class="media-body">
        <div>
          <div class="user-name">Travis Trimble </div>
          <div class="user-last-chat">Give me a full explanation about our project</div>
        </div>
        <div>
          <div class="last-chat-time block">7:30 PM</div>
          <div class="badge badge-success badge-pill">3</div>
        </div>
      </div>
    </a>
  </div>
</div>
<!-- /Chat Left -->