<app-main-breadcrumb [title]='"Change Password"'></app-main-breadcrumb>
<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <app-doctor-sidebar></app-doctor-sidebar>
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <!-- Change Password Form -->
                <form [formGroup]="fg" (ngSubmit)="fg.valid && updatePassword()" autocomplete="off">
                  <app-input-text [type]='"password"' [label]='"Old Password"' [formControlName]='"currentPassword"'>
                  </app-input-text>
                  <app-input-text [type]='"password"' [label]='"New Password"' [formControlName]='"newPassword"'>
                  </app-input-text>
                  <app-input-text [type]='"password"' [label]='"Confirm Password"'
                    [formControlName]='"confirmPassword"'>
                  </app-input-text>
                  <div class="submit-section">
                    <button [disabled]="!fg.valid" type="submit" class="btn btn-primary submit-btn">Save
                      Changes</button>
                  </div>
                </form>
                <!-- /Change Password Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->