<app-main-breadcrumb [title]='"Dashboard"'></app-main-breadcrumb>

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <app-doctor-sidebar></app-doctor-sidebar>
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="row">
          <div class="col-md-12">
            <div class="card dash-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-4">
                    <app-dashboard-canvas></app-dashboard-canvas>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <app-dashboard-canvas></app-dashboard-canvas>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <app-dashboard-canvas></app-dashboard-canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-4">Patient Appoinment</h4>
            <div class="appointment-tab">

              <!-- Appointment Tab -->
              <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                <li class="nav-item">
                  <a #activeLink (click)="setApp($event)" class="nav-link active"
                    href="#upcoming-appointments">Upcoming</a>
                </li>
                <li class="nav-item">
                  <a #activeLink (click)="setApp($event)" class="nav-link" href="#today-appointments">Today</a>
                </li>
              </ul>
              <!-- /Appointment Tab -->

              <div class="tab-content">
                <!-- Upcoming Appointment Tab -->
                <div #app class="tab-pane show active" id="upcoming-appointments">
                  <app-doctor-dashboard-patients-appointment *ngIf="patients.length !== 0" [patients]="patients">
                  </app-doctor-dashboard-patients-appointment>
                </div>
                <!-- /Upcoming Appointment Tab -->
                <!-- Today Appointment Tab -->
                <div #app class="tab-pane" id="today-appointments">
                  <app-doctor-dashboard-patients-appointment *ngIf="patients.length !== 0" [patients]="patients">
                  </app-doctor-dashboard-patients-appointment>
                </div>
                <!-- /Today Appointment Tab -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- /Page Content -->