<app-main-breadcrumb [title]='"Patient Profile"'></app-main-breadcrumb>

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">
      
        <!-- Profile Widget -->
        <div class="card widget-profile pat-widget-profile" *ngIf="patient">
          <div class="card-body">
            <div class="pro-widget-content">
              <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                  <img src={{patient.photo}} alt={{patient.fullname}}>
                </a>
                <div class="profile-det-info">
                  <h3>{{patient.fullname}}</h3>
                  
                  <div class="patient-details">
                    <h5><b>Patient ID :</b> PT{{patient.code}}</h5>
                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{patient.fullAddress}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="patient-info">
              <ul>
                <li>Phone <span>{{patient.phone}}</span></li>
                <li>Age <span>{{patient.age}} Years, Male</span></li>
                <li>Blood Group <span>{{patient.bloodGroup}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /Profile Widget -->
        
        <!-- Last Booking -->
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Last Booking</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="media align-items-center">
                <div class="mr-3">
                  <img alt="Image placeholder" src="assets/img/doctors/doctor-thumb-02.jpg" class="avatar  rounded-circle">
                </div>
                <div class="media-body">
                  <h5 class="d-block mb-0">Dr. Darren Elder </h5>
                  <span class="d-block text-sm text-muted">Dentist</span>
                  <span class="d-block text-sm text-muted">14 Nov 2019 5.00 PM</span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="media align-items-center">
                <div class="mr-3">
                  <img alt="Image placeholder" src="assets/img/doctors/doctor-thumb-02.jpg" class="avatar  rounded-circle">
                </div>
                <div class="media-body">
                  <h5 class="d-block mb-0">Dr. Darren Elder </h5>
                  <span class="d-block text-sm text-muted">Dentist</span>
                  <span class="d-block text-sm text-muted">12 Nov 2019 11.00 AM</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- /Last Booking -->
        
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
        <app-patient-user-tabs></app-patient-user-tabs>
      </div>
    </div>

  </div>

</div>		
<!-- /Page Content -->