<!-- Popular Section -->
<section class="section section-doctor">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div #popularTitle class="section-header"></div>
        <div #popularText class="about-content">
          <a href="javascript:;">Read More..</a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="doctor-slider slider">
          <!-- Doctor Widget -->
          <ng-container *ngIf=" doctors.length">
            <owl-carousel-o [options]="customOptions" class="cate-slider">
              <ng-template carouselSlide *ngFor="let item of doctors">
                <div class="profile-widget">
                  <div class="doc-img">
                    <a [routerLink]="['/main/doctor-profile', item.slug]">
                      <img class="img-fluid" alt="{{ item.fullname }}" src="{{ item.photo }}" />
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="['/main/doctor-profile', item.slug]">{{ item.fullname }}</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">
                      MDS - Periodontology and Oral Implantology, BDS
                    </p>
                    <div class="rating" *ngIf="item.rateStar !== null">
                      <i class="fas fa-star {{star}}" *ngFor="let star of item.rateStar.split(',')"></i>
                      <span class="d-inline-block average-rating">({{item.rateNumber}})</span>
                    </div>
                    <ul class="available-info">
                      <li><i class="fas fa-map-marker-alt"></i> {{item.city}}, {{item.country}}</li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $300 - $1000
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="['/main/doctor-profile', item.slug]" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="['/main/patient/booking', item.slug]" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </ng-container>
          <!-- /Doctor Widget -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Popular Section -->