<!-- Popular Section -->
<section class="section section-doctor">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div #popularTitle class="section-header"></div>
        <div #popularText class="about-content">
          <a href="javascript:;">Read More..</a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="doctor-slider slider">
          <!-- Doctor Widget -->
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let item of doctors" class="slide">
              <div class="profile-widget">
                <div class="doc-img">
                  <a [routerLink]="['/']">
                    <img
                      class="img-fluid"
                      alt="{{ item.fullname }}"
                      src="{{ item.photo }}"
                    />
                  </a>
                  <a href="javascript:void(0)" class="fav-btn">
                    <i class="far fa-bookmark"></i>
                  </a>
                </div>
                <div class="pro-content">
                  <h3 class="title">
                    <a [routerLink]="['/', item.id]">{{ item.fullname }}</a>
                    <i class="fas fa-check-circle verified"></i>
                  </h3>
                  <p class="speciality">
                    MDS - Periodontology and Oral Implantology, BDS
                  </p>
                  <div class="rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                  </div>
                  <ul class="available-info">
                    <li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
                    <li>
                      <i class="far fa-clock"></i> Available on Fri, 22 Mar
                    </li>
                    <li>
                      <i class="far fa-money-bill-alt"></i> $300 - $1000
                      <i
                        class="fas fa-info-circle"
                        data-toggle="tooltip"
                        title="Lorem Ipsum"
                      ></i>
                    </li>
                  </ul>
                  <div class="row row-sm">
                    <div class="col-6">
                      <a [routerLink]="['/', item.id]" class="btn view-btn"
                        >View Profile</a
                      >
                    </div>
                    <div class="col-6">
                      <a [routerLink]="['/', item.id]" class="btn book-btn"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
          <!-- /Doctor Widget -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Popular Section -->
