<h1>Forgot Password?</h1>
<p class="account-subtitle">Enter your email to get a password reset link</p>

<!-- Form -->
<form [formGroup]="fg" (ngSubmit)="fg.valid && forgetPasswordSubmit()" autocomplete="off">
  <app-input-text [type]='"email"' [label]='"Email"' [formControlName]='"email"'></app-input-text>
  <div class="form-group">
    <button [disabled]="!fg.valid" class="btn btn-primary btn-block" type="submit">
      Reset Password
    </button>
  </div>
</form>
<!-- /Form -->

<div class="login-or">
  <span class="or-line"></span>
  <span class="span-or">or</span>
</div>

<div class="text-center dont-have">
  Remember your password? <a [routerLink]="['/auth/login']">Login</a>
</div>